SUPABASE_URL=https://xgzxbenwlcmqtloajroi.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhnenhiZW53bGNtcXRsb2Fqcm9pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMyNDI0NiwiZXhwIjoyMDg4OTAwMjQ2fQ.Qu_Yq7bb4aqMG5WZYNzgIz4AkeH1RYZX_g0BtmtP_4k
GEMINI_API_KEY=AIzaSyA5GgR2wal2EevZ0hxVnRE1PJs0Gpz2U-c
VAPID_PRIVATE_KEY: VruNaw-OvnMUD5J7Bj3ZrspkJ6L4m52j35P1roXmqdw